<?xml version="1.0"?>
<ruleset name="WordPressHooks">
	<description>WordPress Hooks Coding Standard</description>

	<config name="testVersion" value="8.0-" />

	<!-- PHPCompatibility Standards -->
	<rule ref="PHPCompatibility" />

	<!-- ShineUnited Standards -->
	<rule ref="ShineUnited" />
	<rule ref="ShineUnited-RequireStrictTypes" />
	<rule ref="ShineUnited-RequireTypeHints" />
	<rule ref="ShineUnited-RequireComments" />

	<file>src/</file>
	<file>tests/</file>
</ruleset>
